.navbir {
    background-color: black;
    height: 150px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
}

.navbirh1 {
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    font-size: 50px;
    font-weight: 544;
    margin-left: 50px;
    margin-top: 40px;
    display: inline-block;
}

.navbirh5 {
    margin-left: 50px;
    color: white;
    display: inline-block;
    font-weight: 300;
    margin-top: 0px;
    font-size: medium;
}

.a1 {

    padding-top: 170px;
    color: white;
    text-decoration: underline none;
    margin-left: 350px;
    font-size: medium;
}
.a2 {

    padding-top: 170px;
    color: white;
    text-decoration: underline none;
    padding-left: 60px;
     font-size: medium;
}
.a3 {

    padding-top: 170px;
    color: white;
    text-decoration: underline none;
    padding-left: 60px;
     font-size: medium;
}
.a4 {

    padding-top: 170px;
    color: white;
    text-decoration: underline none;
    padding-left: 60px;
     font-size: medium;
}
.a5 {

    padding-top: 170px;
    color: white;
    text-decoration: underline none;
    padding-left: 60px;
     font-size: medium;
}